body {
	background-color: #333333;
	margin: 0px;
	padding: 0px;
	color: #FFFFFF;
}

.sort-controls{
	height: 160px;
	width: 95%;
	background-color: #ccc;
	border-radius: 5px;
	align-content: center;
	color: #000;
	text-align: center;
	margin: auto;
	position: sticky;
	top: 0;

}
input#zip{
	margin-left: 13px;
	margin-right: 0px;
}
input#state{
	margin-left: -5px;
}
.image-eye {
	display: block;
	margin-left: 10%;
	margin-right: 10%;
	width: 100%;
	position: absolute;
	border-radius: 10px;

}


label {
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 2px;

}

ti {
	width: 100%;
	font-size: 50px;

}

.title-header {
	font-size: 17px;
	text-align: left;
	background-color: #7AC7AC;
	width: 95%;
	margin: 10px;
	padding: 10px;
	border-radius: 20px;
	min-width: 300px;
	position: relative;
}

h1 {
	margin: 0 0 10px 0;
	padding: 10px;
	font-size: 40px;
	background-color: black;
	color: #7AC7AC;
	border-radius: 10px;
	position: sticky;
}

table {
	margin: 10px;
}

th,
td {
	padding: 5px;
	border: 1px solid #999;
}

th {
	background: #ccc;
}

tr:nth-child(odd) {
	background: #eee;
}

td a {
	color: #000;
	text-decoration: underline;
}