body {
	background-color: #333333;
	margin: 0px;
	padding: 0px;
	color: #FFFFFF;
}

.sort-controls{
	height: 150px;
	width: 95%;
	background-color: silver;
	border-radius: 15px;
	align-content: center;
	color: #000;
	text-align: center;
	margin: auto;
	opacity:0.95;
	position: relative;
	top: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
	0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
input#address {
	width: 160px;
}

input#state{
	width: 193px;
}

input#state_sort{
	width: 180px
}

input#id{
	width: 214px;
}

input#dob{
	width: 195px;	
}

input {
	border-radius: 6px;
	padding-left: 4px;
}

#sort-button {
	background-color: black;
	color: GhostWhite;
	border-radius: 5px;
	border-color:#7AC7AC;
	width: 75px;

}

#sort-button:hover {
	background-color: #7AC7AC;
	border-color:#7AC7AC;
	font-weight: 465;
	
}

.image-eye {
	display: block;
	width: 85%;
	margin-left: 6%;
	margin-right: 6%;
	position: absolute;
	border-radius: 15px;
	height: 210px;
}


label {
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 2px;

}

ti {
	width: 100%;
	font-size: 50px;

}

.title-header {
	font-size: 17px;
	text-align: left;
	background-color: #7AC7AC;
	width: 95%;
	margin: 10px;
	padding: 10px;
	border-radius: 20px;
	min-width: 300px;
	position: relative;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
	0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1 {
	margin: 0 0 10px 0;
	padding: 10px;
	font-size: 40px;
	background-color: black;
	color: #7AC7AC;
	border-radius: 10px;
	position: relative;
}

h1:hover {
	/* font-weight: bold; */
	color: whitesmoke;
	text-decoration: underline;
	opacity: 20%;
}

table {
	margin: 10px;
}

th,
td {
	padding: 5px;
	border: 1px solid #999;
}

th {
	background: #ccc;
}

tr:nth-child(odd) {
	background: #eee;
}

td a {
	color: #000;
	text-decoration: underline;
}